@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

body {
    font-family: 'Montserrat', 'Yeseva One';
    margin: 0;
    padding: 0;
    background-color: #041821;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #041821;
    font-size: 24px;
}

header .div p {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: white
}

header .div1 i {
    color: white;
    margin-left: 15px;
    font-size: 20px;
}

#Hello h1 {
    font-size: 50px;
    margin: 100px;
}

#vert {
    color: #1bd79e;
}

#ptsvert {
    color: #1bd79e;
}

#couleur{
    background-color: #1bd79e;
    height: 25px;
    width: 70px;
}
.div1 h5 {
    font-weight: normal;
    font-size: 18px;
    margin-left: 100px;
    line-height: 1.5;
    color:gray
}

.titres {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.titres h3 {
    cursor: pointer;
    color: white;
    font-weight: 300;
}

.div4 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.source {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
}

.image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #041821;
    margin-top: 20px;
}

@media (min-width: 640px) and (max-width: 1024px) {
    .source {
        grid-template-columns: repeat(5, 1fr);
        gap: .5%;
    }

    .div4 {
        padding-top: 30px;
        margin: 40px auto;
    }

    .image {
        max-width: 140px;
        height: 140px;
    }

    .image {
        max-width: 140px;
        height: 140px;
    }
}
#Hello h1 {
    font-size: 4vw; 
    line-height: 1.3; 
    margin: 0 auto; 
    padding: 0 5%; 
    text-align: center; 
}

.div1 h5 {
    font-size: 1.5vw; 
    margin: 0 auto; 
    padding: 0 5%; 
    text-align: center; 
}

.titres h3 {
    font-size: 2vw; 
    padding: 0 5px; 
    display: inline-block; 
    text-align: center; 
}

@media (max-width: 640px) {
    .source {
        grid-template-columns: repeat(3, 1fr);
        gap: .5%;
    } 

    .div4 {
        padding-top: 30px;
        margin: 40px auto;
    }

    .image {
        max-width: 140px;
        height: 140px;
    }

    .image {
        max-width: 140px;
        height: 140px;
    }

    .div4 {
        display: block;
    }

    .div1 {
        width: 100%;
        text-align: center;
        margin: 0%;
    }

    .div2 {
        width: 100%;
        text-align: center;
        margin: 0%;
        padding: 0%;
    }

    .source img:nth-child(n + 10) {
        display: none;
    }
}
